<div align="center">
</div>
<p align="center">
    <font size=5>
        Hola hermosa.Sabes?.  <br>
        Estuve buscando amor en  <br>
        lugares equivocado,  <br>
        sin saber que por mucho  <br>
        tiempo habia estado  <br>
        rente ami. Hoy, despues  <br>
        de 10 años de habernos  <br>
        conocido y volvernos  <br>
        a encontrar creo  <br>
        totalmente que eres lo  <br> 
        mejor que me has pasado  <br>
        en la vida. <br>
        te quiero mucho y espero <br>
        esto nos dure demsiado. <br>
    </font>
</p>
<div align="center">
    <button type="button" class="btn btn-primary m-4" (click)="regresar()">Regresar</button>
    <button type="button" class="btn btn-secondary" (click)="foto()">Siguiente</button>
</div>